.container {
    display: flex;
    background-color: #f0f0f0;

    width: 100%;
    height: 100%;

}




.content {
    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;

    color: #333333;
}