.timerContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    border: 3px solid #007bff;
    border-radius: 10px;
    background-color: #f9f9f9;

    justify-items: center;
    justify-content: center;


    width: 150px;
    height: 150px;
    border-radius: 50%;

    transition: all 0.3s;

    > * {
        margin: 4px 0;
    }
}

.timerContainer.border_red {
    border-color: #ff4d4d;
}

.timerContainer:hover {
    border-width: 5px;
    width: 160px;
    height: 160px;
    box-shadow: 0 0 15px rgb(0, 123, 255);
}

.timerContainer.border_red:hover {
    border-color: #ff1a1a;
    box-shadow: 0 0 30px rgb(255, 77, 77);
}


.timeDisplay {
    white-space: nowrap;
    font-size: 1.2em;
    color: #333;
}


.controllContainer {
    display: flex;
    > * {
        margin: 0 5px;
    }
}