.fillScreen {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1000;

    display: table;
}

.content {
    display: table-cell;
    vertical-align: middle;
}

.opaque {
    background-color: rgb(0, 0, 0);
}

.blurred {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}