.button {
    padding: 10px 20px;
    background-color: #b8b8b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}


.button.small {
    padding: 5px 10px;
    font-size: 12px;
}

.button.medium {
    padding: 10px 20px;
    font-size: 14px;
}

.button.large {
    padding: 15px 30px;
    font-size: 16px;
}

.button.extraLarge {
    padding: 20px 40px;
    font-size: 18px;
}

.button.mega {
    padding: 25px 50px;
    font-size: 20px;
}