.homeContainer {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 0.5rem;
    overflow: hidden;
}

.leftPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.5rem;
}

.rightPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
}
